/* resources/css/admin.css */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}
/* Các style riêng cho Admin dashboard */
.list-group-item-action:hover {
    color: #fff !important;
    background-color: #495057 !important; /* Slightly darker gray on hover */
}